.burger-builder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
  }
  
  .burger-builder > * {
    margin: 20px 0;
  }
  
  .ingredient-list {
    flex: 1;
    padding: 20px;
  }
  
  .burger-preview {
    flex: 1;
    padding: 20px;
  }

  .spinner {
    margin-top: 64px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  
  